{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "AdminUsername": "postavi-svoje-korisnicko-ime",
    "AdminPassword": "postavi-jaku-lozinku"
  },
  "Host": {
    "CORS": "*"
  }
}
